.root {
  svg {
    fill: var(--dark-color);
    transition: fill var(--duration) ease-in-out;
    &:hover {
      fill: var(--main-hover);
    }
    &:active {
      fill: var( --main-active);
    }
  }
}
