:root {
  // base
  --container-width: 1397px;
  --container-padding: 15px;

  // colors
  --main-hover: rgba(27, 239, 24, 0.8);
  --main-active: #ed05c2;
  --light-color: #fff;
  --dark-color: #000;
  --text-color: #222;
  --accent-color: #1cef18;
  
  //transition
  --duration: 0.2s;
}
